.users {
    background-color: blue;
    color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
}

.users a {
    color: white;
}

.selectedPage {
    color: red;
}

.page {
    margin-right: 5px;
}
.page:hover {
    cursor: pointer;
}
.usersCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}